<header style="margin-bottom: 10px;">
    <a href="/form" style="padding: 6px; border:1; background-color: rgb(76, 76, 233); color:white; text-decoration: none; border-radius: 100px;">Додади продукт</a>
    <a href="/" style="padding: 6px; border:1; background-color: rgb(76, 76, 233); color:white; margin-left: 5px; text-decoration: none;border-radius: 100px;">Сите продукти</a>
</header>