<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Додади продукт</title>
</head>
<body>
    
    <form action="/form" method="post">
        <input type="text" name="Name" placeholder="Име на продукт" /><br>
        <input type="text" name="Manufacturer" placeholder="Произведувач" /><br>
        <input type="number" name="Quantity" placeholder="Количина" /><br>
        <input type="number" name="DaysLeftToUse" placeholder="Рок на траење" /><br>
        <input type="text" name="PlaceWhereAvalible" placeholder="Каде може да се купи" /><br>
        <button type="submit">Додади</button>
        </form>
</body>
</html>